<ion-header class="ion-no-border"></ion-header>

<ion-content [fullscreen]="true">
  <div class="h-full grid grid-rows-1">
    <div class="row-start-1 bg-white text-black">
      <div class="w-full h-auto grid grid-cols-2">
        <div class="row-start-1 col-span-2 flex justify-center mt-6">
          <a (click)="login()" class="text-sm text-black font-bold cursor-pointer mr-2"><img src="../../../assets/imagenes/flecha-atras.svg" alt=""></a><h1 class="font-bold text-xl">Registro de clientes <img src="assets/imagenes/Logo.svg" class="rounded-full w-8 inline-block" alt="" /></h1>
        </div>
        <div class="row-start-2 col-start-1 col-span-2 mx-6 mt-2">
          <form action="">
            <div class="w-full max-w-md mx-auto">
              <!-- CEDULA -->
              <div class="mt-6 mb-2 relative">
                <input
                  type="text"
                  placeholder="Cedula"
                  class="w-full border-b rounded-md px-3 py-2"
                  pattern="[0-9]*"
                  oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                />
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                  <img src="../../../assets/imagenes/cedula.svg" alt="">
                </span>
              </div>
              <!-- NOMBRE -->
              <div class="mt-6 mb-2 relative">
                <input
                  type="text"
                  placeholder="Nombre"
                  class="w-full border rounded-md px-3 py-2"
                  pattern="[A-Za-zÁáÉéÍíÓóÚúÑñ\s]*"
                  oninput="this.value = this.value.replace(/[^A-Za-zÁáÉéÍíÓóÚúÑñ\s]/g, '')"
                />
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                  <img src="../../../assets/imagenes/cedula.svg" alt="">
                </span>
              </div>
              <!-- APELLIDO -->
              <div class="mt-6 mb-2 relative">
                <input
                  type="text"
                  placeholder="Apellido"
                  class="w-full border rounded-md px-3 py-2"
                  pattern="[A-Za-zÁáÉéÍíÓóÚúÑñ\s]*"
                  oninput="this.value = this.value.replace(/[^A-Za-zÁáÉéÍíÓóÚúÑñ\s]/g, '')"
                />
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                  <img src="../../../assets/imagenes/cedula.svg" alt="">
                </span>
              </div>
              <!-- FECHA DE NACIMIENTO -->
              <div class="mt-6 mb-2 relative">
                <input
                  type="date"
                  placeholder="Fecha de Nacimiento"
                  class="w-full border rounded-md px-3 py-2"
                />
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                  <img src="../../../assets/imagenes/calendario.svg" alt="">
                </span>
              </div>
              <!-- DIRECCIÓN -->
              <div class="mt-6 mb-2 relative">
                <input
                  type="text"
                  placeholder="Dirección"
                  class="w-full border rounded-md px-3 py-2"
                />
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                  <img src="../../../assets/imagenes/ubicacion.svg" alt="">
                </span>
              </div>
              <!-- TELEFONO -->
              <div class="mt-6 mb-2 relative">
                <input
                  type="text"
                  placeholder="Telefono"
                  class="w-full border rounded-md px-3 py-2"
                  pattern="[0-9]*"
                  oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                />
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                  <img src="../../../assets/imagenes/telefono.svg" alt="">
                </span>
              </div>
              <!-- CORREO -->
              <div class="mt-6 mb-2 relative">
                <input
                  type="email"
                  placeholder="Correo electrónico"
                  class="w-full border rounded-md px-3 py-2"
                />
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#111"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path
                      d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"
                    ></path>
                    <polyline points="22,6 12,13 2,6"></polyline>
                  </svg>
                </span>
              </div>
              <!-- CONTRASEÑA -->
              <div class="mt-6 mb-2 relative">
                <input
                  type="password"
                  placeholder="Contraseña"
                  class="w-full border rounded-md px-3 py-2 pr-10"
                />
                <span class="absolute inset-y-0 right-0 flex items-center pr-3">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="#000000"
                    stroke-width="1"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path
                      d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"
                    ></path>
                    <circle cx="12" cy="12" r="3"></circle>
                  </svg>
                </span>
              </div>
              <!-- BOTON INICIAR SESION -->
              <button
                type="submit"
                class="w-full bg-[#01AE67] text-white font-bold py-2 px-4 rounded-lg mt-4"
              >
                Guardar Información
              </button>
            </div>
          </form>
        </div>
        <div
          class="row-start-3 col-start-1 col-span-2 mt-2 flex justify-center"
        >
          <p class="text-sm text-gray-600">
            Ya tienes una cuenta? Inicia Sesión 
            <a (click)="login()" class="text-sm text-black font-bold cursor-pointer ml-2"
              >Aquí</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
