<app-toolbar></app-toolbar>
<ion-content>
    <div class="w-full h-full bg-[#D4D4D4] overflow-y-auto">
        <div class="grid grid-cols-2 gap-5 w-full h-auto p-4">
            <ng-container *ngFor="let restaurante of restaurantes">
                <div class="w-full col-span-2">
                    <div class="bg-white rounded-lg shadow-lg flex overflow-hidden h-[100%] flex-col">
                        <!-- Estado Cuenta y Fecha -->
                        <div class="flex items-center justify-between px-4 py-2">
                            <label class="text-sm font-bold text-[#00af66]">Estado Compra</label>
                            <label [style.backgroundColor]="getColorByEstado(restaurante.estado)"
                                class="text-sm text-black font-bold py-2 px-3 rounded-lg">{{restaurante.estado}}</label>
                        </div>

                        <!-- Imagen y Contenido -->
                        <div class="w-full flex py-6 px-3">
                            <img [src]="getImage(restaurante.restauranteImagen)" alt="Restaurante"
                                class="w-1/3 h-full object-cover rounded-lg" />
                            <!-- Contenido -->
                            <div class="w-2/3 p-4 flex flex-col justify-center">
                                <h2 class="text-md font-bold text-gray-800">
                                    {{ restaurante.nombreRestaurante }}
                                </h2>
                                <p class="text-gray-600 mt-2">$ {{ restaurante.precio_total }}</p>
                            </div>
                        </div>
                        <!-- Botones Ver Compra y Ver Código -->
                        <div class="w-full flex justify-around p-3">
                            <button (click)="abrirModalCarrito(restaurante.detalles)"
                                class="bg-[#EFD372] text-black font-semibold px-8 py-3 rounded-lg shadow-lg ">
                                Ver Compra
                            </button>
                            <button (click)="abrirModalCodigo(restaurante.codigo)"
                                class="bg-[#FF495C] text-white font-semibold px-8 py-3 rounded-lg shadow-lg">
                                Ver Código
                            </button>


                        </div>
                    </div>
                </div>
            </ng-container>

        </div>
    </div>
</ion-content>


<div *ngIf="mostrarModalCodigo" class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>

        <!-- Contenido del modal -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div
            class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div
                        class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10">
                        <!-- Icono o imagen opcional -->
                        <!-- <svg class="h-6 w-6 text-green-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"/>
              </svg> -->
                    </div>
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                            Código del Restaurante
                        </h3>
                        <!-- Código del restaurante -->
                        <div class="mt-2">
                            <code>{{ codigoRestaurante }}</code>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button (click)="cerrarModalCodigo()" type="button"
                    class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-[#FF495C] text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="mostrarModalCarrito" class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-center justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
        <div class="fixed inset-0 transition-opacity" aria-hidden="true">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>

        <!-- Contenido del modal -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
        <div
            class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-3xl sm:w-full">
            <div class="bg-white px-8 pt-6 pb-4 sm:p-8 sm:pb-4">
                <div class="sm:flex sm:items-start">
                    <div
                        class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10">
                    </div>
                    <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                        <h3 class="text-xl leading-6 font-medium text-gray-900" id="modal-title">Historial de Compras
                        </h3>

                        <!-- Información de los restaurantes -->
                        <ng-container *ngFor="let detalles of detalleRestaurante">
                            <div class="mt-4">
                                <div class="w-full p-4 flex flex-col justify-center">
                                    <h2 class="text-md font-bold text-gray-800">{{ detalles.platoNombre }}</h2>
                                    <p class="text-black text-sm mt-2 font-bold">{{ detalles.cantidad }}</p>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <button (click)="cerrarModalCodigo()" type="button"
                    class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-[#FF495C] text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm hover:text-white hover:border-transparent">Cerrar</button>
            </div>
        </div>
    </div>
</div>